.ant-row{
  display: flex !important;
  flex-flow: wrap !important;
  justify-content: center !important;
  align-items: center !important;
}

.ant-btn-round{
  margin: 3em 1em 3em 1em !important;
}

.ant-card{
  margin: 1em !important;
}

.ant-btn:active, .ant-btn:focus{
  color: #F25764 !important;
  border-color: #F25764 !important;
}

.description{
  padding : 1em;
}
.showtime{
  font-size: 1.1em !important;
  text-align: center !important;
}